@page
@model Sportif.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!--================ About section start =================-->
<section class="d-lg-flex align-items-center section-margin--large">
    <div class="aboutvideoWrapper">
        <div class="aboutvideo">
            <div class="aboutvideo-image">
                <img class="card-img" src="https://im.businessht.com.tr/2017/10/14/ver1507973345/1672266_770x443.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="aboutcontent">
            <h3>Sportif Hakkında</h3>
            <p> Sportif Türkiye genelinde hizmet vermekte olan bir spor salonu zinciridir.Bu sitede farklı illerdeki salonları görüntüleyebilir ve üyelik açabilirsiniz.</p>
        </div>
    </div>
</section>
<!--================ About section end =================-->